<!doctype html>


<head>
    <title>Test</title>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<form action="/submit" method="POST">
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br><br>
    <button type="submit"><a>Send</a></button>
    
</form>
<button onclick="location.href='/students'">Show all students </button>
</br>
<img src="/static/phoenix.png" alt="phoenix" width="250" height="250">

</body>